@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {margin: 0;padding: 0;}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*preenche toda a Div*/
    opacity: 0.5;
    animation: zoom 20s;
}
@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 20%;
    left: 20%;
}

@keyframes moveBanner {
     0%{
        transform: translateY(30rem) rotateY(-90deg);
        opacity: 0;
     }
     100%{
        transform: translateY(0) rotateY(0);
        opacity: 100;
     }
}
.banner h1{
    color: #ffff;
    font-size: 3.5rem;
    text-shadow: .2rem .2rem 2px #577;
    font-family: 'Baloo Da 2', serif;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 1rem;
    animation: moveBanner 3s forwards;
}

.banner p{
    font-family: 'Josefin Slab', serif ;
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem 2px #577;
    margin-bottom: 5rem;
    animation: moveBanner 4s forwards;
}

.banner button{
    font-family:'Mulish', serif ;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(148, 0, 211, 0.6 );
    padding: 1rem 2rem;
    border-style: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: ease-out 300ms;
    animation: moveBanner 4s forwards;
}

.banner button:hover{
    color: #000;
    background-color: rgba(100, 100, 100, 0.5);
    font-weight: 600;
    transition: ease-in 300ms;
    padding: 1rem 3rem;
    letter-spacing: .2rem;
}



